@font-face {
  font-family: 'scto-grotesk-a-regular';
  src: url('src/assets/fonts/Scto Grotesk A Regular.eot');
  src: url('src/assets/fonts/Scto Grotesk A Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'scto-grotesk-a-medium';
  src: url('src/assets/fonts/Scto Grotesk A Medium.eot');
  src: url('src/assets/fonts/Scto Grotesk A Medium.woff');
  font-weight: 500;
  font-style: normal;
}
